<head>
<title>Autó detailing szerviz</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/style.css"> 
</head>
<body>
    <header>
        <div class="flex-header">
            <div>  <h1 id="focim">Detailing</h1></div>
            <div>  <nav>
                <ul>
                    
                    <li><a href="/form">Create new service</a></li>
                    <!-- <li><a href="/create">Create</a></li> -->
                    <li><a href="/logout">Logout</a></li>
                    
                </ul>
            </nav></div>
            </div>
    </header>
    <%- body %>
    <footer>
        <div class="flex-footer">
            <div>
                <p id="utoirat">&copy; 2023 Magyar Roland</p>
            </div>
        </div>
    </footer>
</body>