reset css
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

p, h1, h2, h6 {
  padding: 0.5em; 
  margin: 0.5em;
}

* {
  font-family: Verdana, Tahoma, Kalimati, FreeSans, sans-serif;
}

h1 {
  font-size: 18pt;
}

#page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  /* width: 80%; */
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.header {
  background-color: rgb(72, 62, 50);
  flex: 0 0 auto;
}

.header h1 {
  text-align: center;
}

.footer {
  background-color: burlywood;
}
.footer h6 {
  text-align: center;
}

div#content {
  background-color: rgb(84, 107, 155);
  padding: 2em;
  flex-grow: 2;
  
}

.nav {
  box-sizing: border-box;
}

.article {
  box-sizing: border-box;
}

/* menü */

#menu-holder {
  display: flex;
  flex-wrap: nowrap;
}

#mainmenu {
  flex: auto;
  box-sizing: border-box;
  width: min-content;
  width: 50%;
}
/* mainmenu */
ul#menu {
  list-style-type: none;
  width: 80%;
}

#menu li {
  display: inline;
  margin: 0.5em;
  font-size: 12pt;
  font-family: Verdana, Arial, sans-serif;
}
ul#menu li a {
  text-decoration: none;
  background-color: #808000;
  padding: 0.3em;
  color: black;
  border-radius: 0.4em;
}
ul#menu li a:link {
  background-color: #f0e68c;
  color: #556b2f;
}
ul#menu li a:visited {
  background-color: #ffa500;
}
ul#menu li a:hover {
  background-color: lightgreen
}

/* loginmenu */

button {
  background-color: #362e1f;
  color: white;
  padding: 6px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  justify-content: center;
  width: 20%;
}

#loginmenu {
  flex: auto;
  box-sizing: border-box;
  width: min-content;
  width: 50%;
  text-align: right;
}

#loginmenu ul {
  list-style-type: none; 
}

#loginmenu ul li  {
  padding: 0.3em;
  display: inline;
}

#loginmenu ul li a {
  text-decoration: none;
  color: maroon;
}

/* formok */

#form .flex-container {
  display: flex;
  flex-wrap: wrap ;   
  border: 1px solid black;
  width: 35em;
  padding: 1em;
  background-color: rgb(81, 61, 18);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#form .item {
  box-sizing: border-box;
  width: 50%;
  padding: 0.5em;
}

#form input {
  align-self: center;
  flex-grow: 1;
}

/* #form #butt{
  box-sizing: border-box;
  width: 50%;
  padding: 0.5em;
  text-align: left;
}     */

#form #err{
  box-sizing: border-box;
  width: 50%;
  padding: 0.5em;
  text-align: right;
  color: red;
}    

/* #form button {
  width: 20%;
} */

.error {
  color: red;
}

.protected {
  color: forestgreen;
}

.role {
  color: forestgreen;
}

/* #detail table */

#tab {
  border-collapse: collapse;
}

#tab,
td,
th {
  border: 1px solid brown;
  padding: 0.3em;
}

#tab td {
  vertical-align: middle;
}

#tab th {
  text-align: center;
  background-color: bisque;
}
/* detail table */
#detail {
  border: 2px solid darkgray;
  border-radius: 10px;
  padding: 0.2em;
  width: 60%
}
#detail td {
  vertical-align: top;
  border: 0px;
}

/* detail oldal img elem*/
#gyak_image {
  width: 220px;
  float: left;
  margin: 0.5em;
}

.leiras p {
  padding: 0.1em; margin: 0.2em;
}